@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  padding: 10px;
  background: #141B29;
  border: 1px solid #1F2839;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
}
nav .logo img {
  width: 80px;
  height: auto;
}
nav .navbar .toggle {
  display: none;
  cursor: pointer;
}
nav ul {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  list-style-type: none;
}
nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
nav ul li a:hover {
  text-shadow: rgba(255, 145, 0, 0.824) 18px 14px 25px, rgba(255, 132, 0, 0.12) 0px -12px 30px, rgba(255, 111, 0, 0.578) 0px 8px 16px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -8px 12px;
}
nav ul li a.pages {
  color: #EF672A;
}
nav ul li.underline-pages {
  border-bottom: 2px solid #EF672A;
}
nav ul button {
  background: #EF672A;
  color: #FFFFFF;
  padding: 10px 32px;
  border: none;
  cursor: pointer;
}
nav ul button:hover {
  background: #EF672A;
  color: #FFFFFF;
  border: none;
  box-shadow: rgba(255, 145, 0, 0.596) 0px 14px 25px, rgba(255, 132, 0, 0.12) 0px -12px 30px, rgba(255, 111, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}
nav ul button.btn-white {
  background: none;
  border: solid 1px #FFFFFF;
}

@media only screen and (min-width: 426px) and (max-width: 834px) {
  nav ul {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  nav ul li a {
    font-size: 14px;
  }
  nav ul button {
    padding: 8px 28px;
  }
}
@media only screen and (max-width: 420px) {
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
  }
  nav .toggle {
    display: block;
    margin-right: 30px;
    color: white;
    font-size: 24px;
  }
  nav .logo {
    width: 20%;
  }
  nav .logo img {
    width: 48px;
    height: auto;
  }
  nav .navsign {
    margin-right: 40px;
  }
  nav .navsign a button {
    background: #EF672A;
    color: #FFFFFF;
    padding: 8px 16px;
    font-size: 8px;
    border: none;
  }
  nav .navsign a .btn-white {
    background: none;
    border: solid 1px #FFFFFF;
  }
  nav .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 70%;
    width: 26%;
    height: 16vh;
  }
}
footer {
  background: #1F2839;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
footer img {
  width: 150px;
  height: 90px;
}
footer .contact-group h2 {
  font-size: 24px;
  font-weight: 200;
}
footer .contact-group p {
  font-size: 12px;
  color: #FFFFFF;
  margin-top: 10px;
}
footer .contact-group strong {
  font-weight: 300;
  color: #EF672A;
  margin-left: 6px;
}
footer .follow-us h2 {
  font-size: 24px;
  font-weight: 200;
}
footer .follow-us div.social-media img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 8px;
  margin-top: 10px;
}

@media only screen and (min-width: 426px) and (max-width: 834px) {
  footer img {
    width: 100px;
    height: 80px;
  }
  footer .contact-group h2 {
    font-size: 20px;
  }
  footer .contact-group p {
    margin-top: 8px;
  }
  footer .follow-us h2 {
    font-size: 20px;
  }
  footer .follow-us div.social-media img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 425px) {
  footer img {
    width: 60px;
    height: 50px;
  }
  footer .contact-group h2 {
    font-size: 10px;
  }
  footer .contact-group p {
    margin-top: 0px;
    font-size: 6px;
  }
  footer .follow-us h2 {
    font-size: 10px;
  }
  footer .follow-us div.social-media img {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    margin-right: 0px;
  }
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #141B29;
}

img {
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 20px;
}

.about-us {
  text-align: center;
  padding: 50px 0;
}
.about-us .about-heading h1 {
  font-size: 36px;
  margin-top: -40px;
  margin-bottom: 10px;
  color: #FFFFFF;
  font-weight: 500;
}
.about-us .about-heading h2 {
  font-size: 24px;
  color: #FFFFFF;
  margin-bottom: 30px;
  font-weight: 400;
}
.about-us .about-content p {
  margin-bottom: 20px;
  max-width: 900px;
  margin: 0 auto;
  color: #3D7F9F;
}

.mission-vision {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.mission-vision .card {
  background-color: #1F2839;
  padding: 20px;
  margin: 0 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.mission-vision .card h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #FFFFFF;
  font-weight: 400;
}
.mission-vision .card p {
  font-size: 16px;
  color: #77b0cb;
}

.team-section {
  margin-top: 50px;
}
.team-section h2 {
  font-size: 24px;
  color: #FFFFFF;
  margin-bottom: 30px;
  font-weight: 400;
}
.team-section .team-cards {
  display: flex;
  justify-content: center;
}
.team-section .team-cards .team-card {
  background-color: #1F2839;
  padding: 20px;
  margin: 0 20px;
  border-radius: 10px;
  width: 220px;
  height: 54vh;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.team-section .team-cards .team-card .group-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.team-section .team-cards .team-card .group-icon ul .fa-heart {
  margin-left: -10px;
  margin-right: 10px;
}
.team-section .team-cards .team-card img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}
.team-section .team-cards .team-card h4 {
  margin-bottom: 4px;
  color: #FFFFFF;
  font-weight: 600;
}
.team-section .team-cards .team-card p {
  color: #3D7F9F;
}
.team-section .team-cards .team-card .btn button {
  background: #EF672A;
  padding: 6px;
  width: 80px;
  margin-top: 12px;
  color: #FFFFFF;
  font-weight: 300;
  border: none;
  border-radius: 20px;
}
.team-section .team-cards .team-card .btn .second {
  background: none;
  border: 1px solid #FFFFFF;
  margin-left: 12px;
  padding: 5px;
}
.team-section .team-cards .team-card .socail-logo {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding: 20px;
}
.team-section .team-cards .team-card .socail-logo .logo img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.line {
  border: 1px solid #1F2839;
  margin-left: 10%;
  margin-top: 70px;
  width: 80%;
}

h2 {
  margin-top: 50px;
}

.partner-group {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.partner-group img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

@media only screen and (min-width: 426px) and (max-width: 834px) {
  .about-us {
    padding: 30px 0;
  }
  .about-us .about-heading h1 {
    font-size: 28px;
  }
  .about-us .about-heading h2 {
    margin-top: -10px;
    font-size: 18px;
  }
  .about-us .about-content p {
    font-size: 14px;
  }
  .team-section .team-cards .team-card {
    height: 32vh;
  }
  .team-section .team-cards .team-card img {
    width: 80px;
    height: 80px;
  }
  .team-section .team-cards .team-card p {
    font-size: 14px;
  }
  .team-section .team-cards .team-card .btn button {
    padding: 5px;
    width: 70px;
  }
  .partner-group img {
    width: 80px;
    height: 80px;
  }
}
@media only screen and (max-width: 425px) {
  .about-cover {
    display: none;
  }
  .about-us {
    margin-top: -30px;
  }
  .about-us .about-heading h1 {
    display: none;
  }
  .about-us .about-heading h2 {
    font-size: 14px;
  }
  .about-us .about-content {
    margin-top: -10px;
  }
  .about-us .about-content p {
    font-size: 8px;
  }
  .mission-vision {
    margin-bottom: -10px;
  }
  .mission-vision .card h3 {
    font-size: 14px;
  }
  .mission-vision .card p {
    font-size: 8px;
  }
  .team-section h2 {
    font-size: 16px;
  }
  .team-section .team-cards {
    margin-left: 36px;
    flex-direction: column;
    row-gap: 20px;
  }
  .team-section .team-cards .team-card {
    width: 200px;
    height: 36vh;
  }
  .team-section .team-cards .team-card img {
    width: 70px;
    height: 70px;
  }
  .team-section .team-cards .team-card p {
    font-size: 12px;
  }
  .team-section .team-cards .team-card .btn button {
    font-size: 8px;
    width: 70px;
    padding: 6px;
  }
  h2 {
    font-size: 16px;
  }
  .partner-group img {
    width: 50px;
    height: 50px;
  }
}/*# sourceMappingURL=about.css.map */