@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  padding: 12px;
  background: #141B29;
  border: 1px solid #1F2839;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
}
nav .logo img {
  width: 80px;
  height: auto;
}
nav .navbar .toggle {
  display: none;
  cursor: pointer;
}
nav ul {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  list-style-type: none;
}
nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
}
nav ul li a:hover {
  text-shadow: rgba(255, 145, 0, 0.824) 18px 14px 25px, rgba(255, 132, 0, 0.12) 0px -12px 30px, rgba(255, 111, 0, 0.578) 0px 8px 16px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -8px 12px;
}
nav ul li a.pages {
  color: #EF672A;
}
nav ul li.underline-pages {
  border-bottom: 2px solid #EF672A;
}
nav ul button {
  background: #EF672A;
  color: #FFFFFF;
  padding: 10px 32px;
  border: none;
  cursor: pointer;
}
nav ul button:hover {
  background: #EF672A;
  color: #FFFFFF;
  border: none;
  box-shadow: rgba(255, 145, 0, 0.596) 0px 14px 25px, rgba(255, 132, 0, 0.12) 0px -12px 30px, rgba(255, 111, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}
nav ul button.btn-white {
  background: none;
  border: solid 1px #FFFFFF;
}
nav .toggle {
  display: none;
}

@media only screen and (min-width: 426px) and (max-width: 834px) {
  nav ul {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  nav ul li a {
    font-size: 14px;
  }
  nav ul button {
    padding: 8px 28px;
  }
}
@media (max-width: 420px) {
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
  }
  nav .toggle {
    display: block;
    margin-right: 30px;
    color: white;
    font-size: 24px;
  }
  nav .logo {
    width: 20%;
  }
  nav .logo img {
    width: 48px;
    height: auto;
  }
  nav .nav-sign {
    margin-right: 40px;
  }
  nav .nav-sign a button {
    background: #EF672A;
    color: #FFFFFF;
    padding: 8px 16px;
    font-size: 8px;
    border: none;
  }
  nav .nav-sign a .btn-white {
    background: none;
    border: solid 1px #FFFFFF;
  }
  nav .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 74%;
    width: 18%;
    background: rgb(0, 0, 0);
    height: 22vh;
    box-shadow: rgba(255, 106, 0, 0.16) 0px 3px 6px, rgba(255, 77, 0, 0.23) 0px 3px 6px;
  }
  nav .navbar li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid orange 2px;
  }
  nav .navbar li a .pages {
    background-color: aqua;
  }
  nav .navbar li a {
    font-size: 10px;
    padding: 10px 16px;
  }
}
footer {
  background: #1F2839;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
footer img {
  width: 150px;
  height: 90px;
}
footer .contact-group h2 {
  font-size: 24px;
  font-weight: 200;
}
footer .contact-group p {
  font-size: 12px;
  color: #FFFFFF;
  margin-top: 10px;
}
footer .contact-group strong {
  font-weight: 300;
  color: #EF672A;
  margin-left: 6px;
}
footer .follow-us h2 {
  font-size: 24px;
  font-weight: 200;
}
footer .follow-us div.social-media img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 8px;
  margin-top: 10px;
}

@media only screen and (min-width: 426px) and (max-width: 834px) {
  footer img {
    width: 100px;
    height: 80px;
  }
  footer .contact-group h2 {
    font-size: 20px;
  }
  footer .contact-group p {
    margin-top: 8px;
  }
  footer .follow-us h2 {
    font-size: 20px;
  }
  footer .follow-us div.social-media img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 425px) {
  footer img {
    width: 60px;
    height: 50px;
  }
  footer .contact-group h2 {
    font-size: 10px;
  }
  footer .contact-group p {
    margin-top: 0px;
    font-size: 6px;
  }
  footer .follow-us h2 {
    font-size: 10px;
  }
  footer .follow-us div.social-media img {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    margin-right: 0px;
  }
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #141B29;
}

main section img {
  margin-top: 80px;
  width: 100%;
  height: 70vh;
}
main section h2 {
  margin-top: 20px;
  margin-left: 10%;
  color: rgb(141, 135, 135);
}
main aside {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main aside h2 {
  color: #FFFFFF;
  margin-bottom: 20px;
  font-weight: 400;
}
main aside .contact {
  width: 80%;
}
main aside .contact h2 {
  color: gray;
  text-align: center;
  font-size: 20px;
}
main aside .contact .line-contact {
  border: 1px solid #3D7F9F;
  width: 340px;
  margin-bottom: 30px;
  margin-left: 35%;
}
main aside .contact .group-contact {
  display: flex;
  justify-content: space-between;
}
main aside .contact .group-contact .group {
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: -20px;
}
main aside .contact .group-contact .group .call {
  display: flex;
  align-items: center;
}
main aside .contact .group-contact .group .call h3 {
  color: #3D7F9F;
  margin-left: 14px;
  font-weight: 500;
}
main aside .contact .group-contact .group p {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 200;
}
main aside .logo_form img {
  width: 150px;
  height: 100px;
  margin-bottom: 20px;
}
main aside .form {
  margin-top: 10px;
  width: 90%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main aside .form .form_left {
  width: 40%;
  display: flex;
  flex-direction: column;
}
main aside .form .form_left input {
  outline: none;
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
}
main aside .form .form_left button {
  display: flex;
  justify-content: center;
  width: 94.4%;
  padding: 10px;
  margin-top: 10px;
  background-color: #EF672A;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
main aside .form .form_left button:hover {
  transform: scale(1.05);
}
main aside .form .form_middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main aside .form .form_middle h3 {
  color: rgba(255, 255, 255, 0.377);
  font-weight: 300;
  display: flex;
  align-items: center;
}
main aside .form .form_middle .line {
  border: 1px solid #1F2839;
  height: 14vh;
}
main aside .form .form_right {
  margin-top: 10px;
  width: 40%;
}
main aside .form .form_right .social-login {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
main aside .form .form_right .social-login .social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: #FFFFFF;
  margin-left: 20px;
  border-radius: 4px;
}
main aside .form .form_right .social-login .social button {
  border: none;
  background: none;
  color: rgb(175, 166, 166);
}
main .map-container {
  margin-left: 10%;
  margin-bottom: 70px;
}
main .map-container h2 {
  color: gray;
}
main .map-container h3 {
  color: white;
  font-weight: 400;
  margin-bottom: 20px;
}
main .map-container strong {
  color: #EF672A;
}

@media only screen and (min-width: 426px) and (max-width: 834px) {
  main section img {
    height: 50vh;
  }
  main aside .contact .line-contact {
    margin-left: 22%;
  }
  main aside .form .form_left button {
    width: 97%;
  }
  main .map-container {
    margin-left: 5%;
  }
  main .map-container iframe {
    width: 700px;
    height: 400px;
  }
}
@media only screen and (max-width: 425px) {
  main section {
    display: none;
  }
  main aside {
    margin-top: 80px;
  }
  main aside .logo_form {
    display: none;
  }
  main aside .contact .line-contact {
    margin-left: 4px;
    width: 300px;
    border: 1px solid rgba(128, 128, 128, 0.411);
  }
  main aside .contact .group-contact {
    row-gap: 30px;
    flex-wrap: wrap;
    margin-left: -44px;
  }
  main aside .form {
    margin-top: 16%;
    margin-bottom: 30px;
    row-gap: 20px;
    flex-direction: column;
  }
  main aside .form .form_left {
    width: 100%;
  }
  main aside .form .form_middle {
    -moz-column-gap: 10px;
         column-gap: 10px;
    flex-direction: row;
  }
  main aside .form .form_middle .line {
    height: 0px;
    width: 150px;
  }
  main aside .form .form_right {
    width: 100%;
    margin-left: -34px;
  }
  main .map-container {
    margin-left: 8%;
  }
  main .map-container h2 {
    font-size: 16px;
  }
  main .map-container h3 {
    font-size: 12px;
  }
  main .map-container iframe {
    width: 330px;
    height: 200px;
  }
}