@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  padding: 12px;
  background: #141B29;
  border: 1px solid #1F2839;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
}
nav .logo img {
  width: 80px;
  height: auto;
}
nav .navbar .toggle {
  display: none;
  cursor: pointer;
}
nav ul {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  list-style-type: none;
}
nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
}
nav ul li a:hover {
  text-shadow: rgba(255, 145, 0, 0.824) 18px 14px 25px, rgba(255, 132, 0, 0.12) 0px -12px 30px, rgba(255, 111, 0, 0.578) 0px 8px 16px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -8px 12px;
}
nav ul li a.pages {
  color: #EF672A;
}
nav ul li.underline-pages {
  border-bottom: 2px solid #EF672A;
}
nav ul button {
  background: #EF672A;
  color: #FFFFFF;
  padding: 10px 32px;
  border: none;
  cursor: pointer;
}
nav ul button:hover {
  background: #EF672A;
  color: #FFFFFF;
  border: none;
  box-shadow: rgba(255, 145, 0, 0.596) 0px 14px 25px, rgba(255, 132, 0, 0.12) 0px -12px 30px, rgba(255, 111, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}
nav ul button.btn-white {
  background: none;
  border: solid 1px #FFFFFF;
}
nav .toggle {
  display: none;
}

@media only screen and (min-width: 426px) and (max-width: 834px) {
  nav ul {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  nav ul li a {
    font-size: 14px;
  }
  nav ul button {
    padding: 8px 28px;
  }
}
@media (max-width: 420px) {
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
  }
  nav .toggle {
    display: block;
    margin-right: 30px;
    color: white;
    font-size: 24px;
  }
  nav .logo {
    width: 20%;
  }
  nav .logo img {
    width: 48px;
    height: auto;
  }
  nav .nav-sign {
    margin-right: 40px;
  }
  nav .nav-sign a button {
    background: #EF672A;
    color: #FFFFFF;
    padding: 8px 16px;
    font-size: 8px;
    border: none;
  }
  nav .nav-sign a .btn-white {
    background: none;
    border: solid 1px #FFFFFF;
  }
  nav .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 74%;
    width: 18%;
    background: rgb(0, 0, 0);
    height: 22vh;
    box-shadow: rgba(255, 106, 0, 0.16) 0px 3px 6px, rgba(255, 77, 0, 0.23) 0px 3px 6px;
  }
  nav .navbar li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid orange 2px;
  }
  nav .navbar li a .pages {
    background-color: aqua;
  }
  nav .navbar li a {
    font-size: 10px;
    padding: 10px 16px;
  }
}
footer {
  background: #1F2839;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
footer img {
  width: 150px;
  height: 90px;
}
footer .contact-group h2 {
  font-size: 24px;
  font-weight: 200;
}
footer .contact-group p {
  font-size: 12px;
  color: #FFFFFF;
  margin-top: 10px;
}
footer .contact-group strong {
  font-weight: 300;
  color: #EF672A;
  margin-left: 6px;
}
footer .follow-us h2 {
  font-size: 24px;
  font-weight: 200;
}
footer .follow-us div.social-media img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 8px;
  margin-top: 10px;
}

@media only screen and (min-width: 426px) and (max-width: 834px) {
  footer img {
    width: 100px;
    height: 80px;
  }
  footer .contact-group h2 {
    font-size: 20px;
  }
  footer .contact-group p {
    margin-top: 8px;
  }
  footer .follow-us h2 {
    font-size: 20px;
  }
  footer .follow-us div.social-media img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 425px) {
  footer img {
    width: 60px;
    height: 50px;
  }
  footer .contact-group h2 {
    font-size: 10px;
  }
  footer .contact-group p {
    margin-top: 0px;
    font-size: 6px;
  }
  footer .follow-us h2 {
    font-size: 10px;
  }
  footer .follow-us div.social-media img {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    margin-right: 0px;
  }
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #141B29;
}

main {
  margin-top: 8%;
}

.search-button {
  margin-left: 25%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-button button a {
  color: white;
}
.search-button .group-search {
  display: flex;
  align-items: center;
  background-color: #1F2839;
  padding: 10px;
  width: 400px;
}
.search-button .group-search input[type=text] {
  background-color: transparent;
  border: none;
  color: #3D7F9F;
  font-size: 12px;
  width: 100%;
  padding-left: 10px;
}
.search-button .group-search input[type=text]:focus {
  outline: none;
}
.search-button .group-search input[type=text]::-moz-placeholder {
  color: #3D7F9F;
}
.search-button .group-search input[type=text]::placeholder {
  color: #3D7F9F;
}
.search-button .group-search .icon {
  width: 20px;
  height: 20px;
  background-image: url(https://www.iconpacks.net/icons/2/free-search-icon-2911-thumb.png);
  background-size: cover;
}
.search-button h3 {
  color: #FFFFFF;
  font-size: 16px;
  margin: 0;
}
.search-button button {
  background-color: #EF672A;
  color: #FFFFFF;
  border: none;
  padding: 12px 20px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.search-button button:hover {
  background-color: #d64d10;
}

aside {
  background-color: #141B29;
  padding: 20px;
}
aside .nav_library {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  width: 80%;
  margin: auto;
}
aside .nav_library li {
  margin-bottom: 10px;
  background: #1F2839;
  border-radius: 6px;
}
aside .nav_library li a {
  color: #FFFFFF;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
aside .nav_library li a:hover {
  background-color: #3D7F9F;
}
aside .nav_library li .white {
  background: #FFFFFF;
  color: #1F2839;
  font-weight: 400;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
  margin-bottom: 20px;
  margin-right: -18px;
}
.video-container .video {
  border-radius: 8px;
  width: 330px;
}
.video-container .video iframe {
  width: 330px;
  height: 180px;
  border-radius: 8px;
}
.video-container .video .pf {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.video-container .video .pf img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.video-container .video .pf h3 {
  color: #FFFFFF;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 400;
}

.group-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
}
.group-text h2 {
  font-weight: 500;
}
.group-text h3 {
  font-weight: 400;
  font-size: 16px;
}
.group-text button {
  padding: 12px;
  background: #EF672A;
  border: none;
  margin-top: 12px;
  margin-bottom: 40px;
  color: #FFFFFF;
}

@media only screen and (min-width: 426px) and (max-width: 834px) {
  .search-button {
    margin-top: 15%;
    margin-left: 14%;
  }
  aside {
    padding: 10px;
  }
  aside .nav_library {
    width: 90%;
    margin-left: 75px;
  }
  aside .nav_library li a {
    font-size: 12px;
  }
  aside .nav_library li .none {
    display: none;
  }
  .video-container {
    width: 90%;
    margin-left: 60px;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .video-container .video {
    width: 320px;
  }
  .video-container .video iframe {
    width: 320px;
  }
  .video-container .video .pf {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .video-container .video .pf img {
    width: 30px;
    height: 30px;
  }
  .video-container .video .pf h3 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 425px) {
  .search-button {
    margin-top: 20%;
    margin-left: 28px;
  }
  .search-button .group-search {
    width: 200px;
    padding: 8px;
  }
  .search-button .group-search input[type=text] {
    font-size: 8px;
    width: 100%;
  }
  .search-button .group-search .icon {
    width: 10px;
    height: 10px;
  }
  .search-button h3 {
    font-size: 10px;
  }
  .search-button button {
    font-size: 8px;
    padding: 8px 14px;
  }
  aside .nav_library {
    display: none;
  }
  .video-container {
    margin-top: -20px;
    row-gap: 20px;
  }
  .video-container .video {
    margin-left: -10px;
  }
  .video-container .video .pf img {
    width: 30px;
    height: 30px;
  }
  .video-container .video .pf h3 {
    font-size: 12px;
  }
  .group-text h2 {
    font-size: 16px;
    font-weight: 300;
  }
  .group-text h3 {
    font-size: 12px;
    font-weight: 300;
  }
  .group-text button {
    padding: 8px;
  }
}