@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  padding: 10px;
  background: #141B29;
  border: 1px solid #1F2839;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
}
nav .logo img {
  width: 80px;
  height: auto;
}
nav .navbar .toggle {
  display: none;
  cursor: pointer;
}
nav ul {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  list-style-type: none;
}
nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
nav ul li a:hover {
  text-shadow: rgba(255, 145, 0, 0.824) 18px 14px 25px, rgba(255, 132, 0, 0.12) 0px -12px 30px, rgba(255, 111, 0, 0.578) 0px 8px 16px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -8px 12px;
}
nav ul li a.pages {
  color: #EF672A;
}
nav ul li.underline-pages {
  border-bottom: 2px solid #EF672A;
}
nav ul button {
  background: #EF672A;
  color: #FFFFFF;
  padding: 10px 32px;
  border: none;
  cursor: pointer;
}
nav ul button:hover {
  background: #EF672A;
  color: #FFFFFF;
  border: none;
  box-shadow: rgba(255, 145, 0, 0.596) 0px 14px 25px, rgba(255, 132, 0, 0.12) 0px -12px 30px, rgba(255, 111, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}
nav ul button.btn-white {
  background: none;
  border: solid 1px #FFFFFF;
}

@media only screen and (min-width: 426px) and (max-width: 834px) {
  nav ul {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  nav ul li a {
    font-size: 14px;
  }
  nav ul button {
    padding: 8px 28px;
  }
}
@media (max-width: 420px) {
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
  }
  nav .toggle {
    display: block;
    margin-right: 30px;
    color: white;
    font-size: 24px;
  }
  nav .logo {
    width: 20%;
  }
  nav .logo img {
    width: 48px;
    height: auto;
  }
  nav .nav-sign {
    margin-right: 40px;
  }
  nav .nav-sign a button {
    background: #EF672A;
    color: #FFFFFF;
    padding: 8px 16px;
    font-size: 8px;
    border: none;
  }
  nav .nav-sign a .btn-white {
    background: none;
    border: solid 1px #FFFFFF;
  }
  nav .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 74%;
    width: 18%;
    background: rgb(0, 0, 0);
    height: 22vh;
    box-shadow: rgba(255, 106, 0, 0.16) 0px 3px 6px, rgba(255, 77, 0, 0.23) 0px 3px 6px;
  }
  nav .navbar li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid orange 2px;
  }
  nav .navbar li a .pages {
    background-color: aqua;
  }
  nav .navbar li a {
    font-size: 10px;
    padding: 10px 16px;
  }
}
footer {
  background: #1F2839;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
footer img {
  width: 150px;
  height: 90px;
}
footer .contact-group h2 {
  font-size: 24px;
  font-weight: 200;
}
footer .contact-group p {
  font-size: 12px;
  color: #FFFFFF;
  margin-top: 10px;
}
footer .contact-group strong {
  font-weight: 300;
  color: #EF672A;
  margin-left: 6px;
}
footer .follow-us h2 {
  font-size: 24px;
  font-weight: 200;
}
footer .follow-us div.social-media img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 8px;
  margin-top: 10px;
}

@media only screen and (min-width: 426px) and (max-width: 834px) {
  footer img {
    width: 100px;
    height: 80px;
  }
  footer .contact-group h2 {
    font-size: 20px;
  }
  footer .contact-group p {
    margin-top: 8px;
  }
  footer .follow-us h2 {
    font-size: 20px;
  }
  footer .follow-us div.social-media img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 425px) {
  footer img {
    width: 60px;
    height: 50px;
  }
  footer .contact-group h2 {
    font-size: 10px;
  }
  footer .contact-group p {
    margin-top: 0px;
    font-size: 6px;
  }
  footer .follow-us h2 {
    font-size: 10px;
  }
  footer .follow-us div.social-media img {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    margin-right: 0px;
  }
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #141B29;
}

main {
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141B29;
}
main .sign_in_page {
  border-radius: 32px;
  width: 82%;
  height: 78%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .sign_in_page .bullet {
  height: 80%;
  width: 2px;
  background-color: #1F2839;
}
main .sign_in_page .group_continu {
  width: 42%;
  height: 90%;
  border-radius: 32px 0px 0px 32px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
main .sign_in_page .group_continu .logo {
  width: 52%;
  height: 40%;
}
main .sign_in_page .group_continu .group_continu_app {
  width: 80%;
  height: 32%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
main .sign_in_page .group_continu .group_continu_app a {
  width: 74%;
  height: 34%;
}
main .sign_in_page .group_continu .group_continu_app a .continu {
  width: 90%;
  color: #FFFFFF;
  height: 90%;
  box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
main .sign_in_page .group_continu .group_continu_app a .continu img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
main .sign_in_page .group_continu .group_continu_app a .continu h6 {
  width: 62%;
}
main .sign_in_page .group_continu .group_continu_app a .continu:hover {
  box-shadow: rgba(255, 157, 0, 0.256) 3px 5px 3px 2px;
  width: 92%;
  height: 92%;
}
main .sign_in_page .group_form_sign {
  width: 42%;
  height: 88%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: rgba(250, 117, 0, 0.256) 0px 14px 28px, rgba(250, 117, 0, 0.256) 0px 10px 10px;
}
main .sign_in_page .group_form_sign h1 {
  font-size: 28px;
  font-weight: 500;
  margin-top: 30px;
}
main .sign_in_page .group_form_sign .h_sign {
  width: 100%;
  height: 8%;
  text-align: center;
  text-shadow: rgba(255, 145, 0, 0.596) 0px 14px 25px, rgba(255, 132, 0, 0.12) 0px -12px 30px, rgba(255, 111, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}
main .sign_in_page .group_form_sign form {
  width: 82%;
  height: 88%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
main .sign_in_page .group_form_sign form .footer_form {
  height: 18%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .sign_in_page .group_form_sign form .footer_form .group_forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 18%;
}
main .sign_in_page .group_form_sign form .footer_form .group_forgot li {
  list-style: none;
}
main .sign_in_page .group_form_sign form .footer_form .group_forgot li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
}
main .sign_in_page .group_form_sign form .footer_form button:hover {
  border: solid 2px rgba(255, 255, 255, 0.425);
  box-shadow: rgba(255, 119, 0, 0.596) 0px 14px 25px, rgba(255, 136, 1, 0.12) 0px -12px 30px, rgba(255, 106, 0, 0.12) 0px 4px 6px, rgba(255, 136, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
  transition: 1s;
}
main .sign_in_page .group_form_sign form .footer_form button {
  width: 50%;
  padding: 8px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px rgba(253, 143, 0, 0.324);
  transition: 1s;
  border-radius: 8px;
  background: none;
}
main .sign_in_page .group_form_sign form .footer_form button li {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}
main .sign_in_page .group_form_sign form .footer_form button li a {
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
}
main .sign_in_page .group_form_sign form .group_input {
  width: 80%;
  height: 58%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .sign_in_page .group_form_sign form .group_input .enter {
  width: 100%;
  height: 32%;
  background-color: transparent;
}
main .sign_in_page .group_form_sign form .group_input .enter .input {
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .sign_in_page .group_form_sign form .group_input .enter .input span {
  color: gray;
}
main .sign_in_page .group_form_sign form .group_input .enter .input input {
  background: transparent;
  width: 88%;
  outline: none;
  border: none;
  color: #FFFFFF;
}
main .sign_in_page .group_form_sign:hover {
  box-shadow: rgba(250, 117, 0, 0.256) 0px 14px 28px, rgba(250, 117, 0, 0.256) 0px 10px 10px;
}

@media (max-width: 768px) and (min-width: 426px) {
  main {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    height: 200vh;
  }
  main .sign_in_page {
    border-radius: 22px;
    width: 72%;
    height: 68%;
  }
  main .sign_in_page .group_form_sign {
    width: 100%;
    position: static;
    height: 48%;
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgba(250, 117, 0, 0.256) 0px 14px 28px, rgba(250, 117, 0, 0.256) 0px 10px 10px;
  }
  main .sign_in_page .group_form_sign h1 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 30px;
  }
  main .sign_in_page .group_form_sign .h_sign {
    width: 100%;
    height: 8%;
    text-align: center;
    text-shadow: rgba(255, 145, 0, 0.596) 0px 14px 25px, rgba(255, 132, 0, 0.12) 0px -12px 30px, rgba(255, 111, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
  }
  main .sign_in_page .group_form_sign form {
    width: 82%;
    height: 88%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }
  main .sign_in_page .group_form_sign form .footer_form {
    height: 18%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  main .sign_in_page .group_form_sign form .footer_form .group_forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 18%;
  }
  main .sign_in_page .group_form_sign form .footer_form .group_forgot li {
    list-style: none;
  }
  main .sign_in_page .group_form_sign form .footer_form .group_forgot li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
  }
  main .sign_in_page .group_form_sign form .footer_form button {
    width: 60%;
    height: 30px;
    border: solid 2px rgba(255, 136, 0, 0.324);
    transition: 1s;
    color: #FFFFFF;
    border-radius: 8px;
    margin-top: 20px;
    background: none;
  }
  main .sign_in_page .group_form_sign form .footer_form button:hover {
    border: solid 2px rgba(255, 255, 255, 0.425);
    box-shadow: rgba(255, 145, 0, 0.596) 0px 14px 25px, rgba(255, 132, 0, 0.12) 0px -12px 30px, rgba(255, 111, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    transition: 1s;
  }
  main .sign_in_page .group_form_sign form .group_input {
    width: 80%;
    height: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  main .sign_in_page .group_form_sign form .group_input .enter {
    width: 100%;
    height: 32%;
    background-color: transparent;
  }
  main .sign_in_page .group_form_sign form .group_input .enter .input {
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  main .sign_in_page .group_form_sign form .group_input .enter .input span {
    color: gray;
  }
  main .sign_in_page .group_form_sign form .group_input .enter .input input {
    background: transparent;
    width: 88%;
    outline: none;
    border: none;
    color: #FFFFFF;
  }
  main .sign_in_page .bullet {
    height: 4px;
    width: 80%;
  }
  main .sign_in_page .group_continu {
    width: 80%;
    height: 48%;
  }
  main .sign_in_page .group_continu .logo {
    width: 66%;
    height: 44%;
  }
  main .sign_in_page .group_continu .group_continu_app a {
    width: 84%;
    height: 34%;
  }
  main .sign_in_page .group_continu .group_continu_app a .continu {
    width: 90%;
    color: #FFFFFF;
    height: 90%;
    box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  main .sign_in_page .group_continu .group_continu_app a .continu img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  main .sign_in_page .group_continu .group_continu_app a .continu h6 {
    width: 70%;
  }
}
@media (max-width: 480px) {
  main {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    height: 932px;
    width: 100%;
  }
  main .sign_in_page {
    width: 90%;
    height: 68%;
  }
  main .sign_in_page .group_form_sign {
    width: 100%;
    height: 48%;
  }
  main .sign_in_page .group_form_sign h1 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 30px;
  }
  main .sign_in_page .group_form_sign .h_sign {
    width: 100%;
    height: 8%;
  }
  main .sign_in_page .group_form_sign form {
    width: 82%;
    height: 88%;
  }
  main .sign_in_page .group_form_sign form .footer_form {
    height: 18%;
    width: 80%;
  }
  main .sign_in_page .group_form_sign form .footer_form .group_forgot {
    width: 80%;
    height: 18%;
  }
  main .sign_in_page .group_form_sign form .footer_form .group_forgot li a {
    font-size: 8px;
  }
  main .sign_in_page .group_form_sign form .footer_form button {
    width: 60%;
    height: 30px;
  }
  main .sign_in_page .group_form_sign form .group_input {
    width: 80%;
    height: 58%;
  }
  main .sign_in_page .group_form_sign form .group_input .enter {
    width: 100%;
    height: 32%;
  }
  main .sign_in_page .group_form_sign form .group_input .enter label {
    font-size: 12px;
  }
  main .sign_in_page .group_form_sign form .group_input .enter .input {
    height: 60%;
  }
  main .sign_in_page .group_form_sign form .group_input .enter .input span {
    color: gray;
  }
  main .sign_in_page .group_form_sign form .group_input .enter .input input {
    width: 88%;
  }
  main .sign_in_page .bullet {
    height: 4px;
    width: 80%;
  }
  main .sign_in_page .group_continu {
    width: 80%;
    height: 48%;
  }
  main .sign_in_page .group_continu .logo {
    width: 66%;
    height: 44%;
  }
  main .sign_in_page .group_continu .group_continu_app a {
    width: 84%;
    height: 30%;
  }
  main .sign_in_page .group_continu .group_continu_app a .continu {
    width: 90%;
    color: #FFFFFF;
    height: 90%;
    box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  main .sign_in_page .group_continu .group_continu_app a .continu img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
  }
  main .sign_in_page .group_continu .group_continu_app a .continu h6 {
    width: 70%;
  }
}