nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  padding: 10px;
  background: #141B29;
  border: 1px solid #1F2839;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
}
nav .logo img {
  width: 80px;
  height: auto;
}
nav ul {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  list-style-type: none;
}
nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
nav ul li a:hover {
  text-shadow: rgba(255, 145, 0, 0.824) 18px 14px 25px, rgba(255, 132, 0, 0.12) 0px -12px 30px, rgba(255, 111, 0, 0.578) 0px 8px 16px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -8px 12px;
}
nav ul li a.pages {
  color: #EF672A;
}
nav ul li.underline-pages {
  border-bottom: 2px solid #EF672A;
}
nav ul button {
  background: #EF672A;
  color: #FFFFFF;
  padding: 10px 32px;
  border: none;
  cursor: pointer;
}
nav ul button:hover {
  background: #EF672A;
  color: #FFFFFF;
  border: none;
  box-shadow: rgba(255, 145, 0, 0.596) 0px 14px 25px, rgba(255, 132, 0, 0.12) 0px -12px 30px, rgba(255, 111, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}
nav ul button.btn-white {
  background: none;
  border: solid 1px #FFFFFF;
}

@media only screen and (min-width: 426px) and (max-width: 834px) {
  nav ul {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  nav ul li a {
    font-size: 14px;
  }
  nav ul button {
    padding: 8px 28px;
  }
}
@media only screen and (max-width: 425px) {
  nav .logo img {
    width: 50px;
  }
  nav ul {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  nav ul li a {
    font-size: 12px;
  }
  nav ul button {
    display: none;
  }
}
footer {
  background: #1F2839;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
footer img {
  width: 150px;
  height: 90px;
}
footer .contact-group h2 {
  font-size: 24px;
  font-weight: 200;
}
footer .contact-group p {
  font-size: 12px;
  color: #FFFFFF;
  margin-top: 10px;
}
footer .contact-group strong {
  font-weight: 300;
  color: #EF672A;
  margin-left: 6px;
}
footer .follow-us h2 {
  font-size: 24px;
  font-weight: 200;
}
footer .follow-us div.social-media img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 8px;
  margin-top: 10px;
}

@media only screen and (min-width: 426px) and (max-width: 834px) {
  footer img {
    width: 100px;
    height: 80px;
  }
  footer .contact-group h2 {
    font-size: 20px;
  }
  footer .contact-group p {
    margin-top: 8px;
  }
  footer .follow-us h2 {
    font-size: 20px;
  }
  footer .follow-us div.social-media img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 425px) {
  footer img {
    width: 60px;
    height: 50px;
  }
  footer .contact-group h2 {
    font-size: 10px;
  }
  footer .contact-group p {
    margin-top: 0px;
    font-size: 6px;
  }
  footer .follow-us h2 {
    font-size: 10px;
  }
  footer .follow-us div.social-media img {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    margin-right: 0px;
  }
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #141B29;
  margin-top: 100px;
  height: 90vh;
}

.upload-container {
  background-color: #212b3f;
  border-radius: 10px;
  width: 55%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin: auto;
  color: white;
  padding: 20px;
  height: 75vh;
}
.upload-container .btn {
  display: flex;
  flex-wrap: wrap;
}
.upload-container .btn .first {
  width: 50%;
}
.upload-container .btn .last {
  width: 50%;
}
.upload-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}
.upload-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.upload-container input[type=text],
.upload-container textarea {
  width: 93%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
.upload-container input[type=email],
.upload-container textarea {
  width: 97%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
.upload-container input[type=file] {
  display: none;
}
.upload-container .file-upload {
  border: 2px dashed #ccc;
  border-radius: 5px;
  text-align: center;
  padding: 40px;
  cursor: pointer;
  margin-bottom: 15px;
  color: #a19191;
}
.upload-container .file-upload:hover {
  border-color: #999;
}
.upload-container .button_submit {
  display: flex;
  justify-content: center;
}
.upload-container .button_submit a {
  color: white;
}
.upload-container .button_submit button {
  background-color: #d88110;
  color: white;
  padding: 10px;
  width: 50%;
  border: none;
  cursor: pointer;
  text-align: center;
}

footer {
  margin-top: 20px;
}