@import '_variable';
@import '../mixins/group-mixins';

footer {
    background: $footer-color ;
    color: $white-color;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    img {
        width: 150px;
        height: auto;
    }
    .contact-group {
        p {
            font-size: $font-size-p;
            color: $button-color;
            margin-top: 10px;
        }
    }
    .follow-us {
        div.social-media {
            img {
                width: 30px;
                height: 30px;
                border-radius: 15px;
                margin-right: 20px;
                margin-top: 10px;
            }
        }
    }
}