@import '_variable';
@import '../mixins/group-mixins';
@import "../mixins/nav-responsive";


nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    padding: 12px;
    background: $main-color;
    border: 1px solid $footer-color;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    .logo {
        img {
            width: 80px;
            height: auto;
        }
    }
    .navbar .toggle {
        display: none;
        cursor: pointer;
    }
    ul {
        display: flex;
        column-gap: 50px;
        list-style-type: none;
        li {
            a {
                color: $white-color;
                text-decoration: none;
                font-weight: 400;
            }
            a:hover {
                text-shadow: rgba(255, 145, 0, 0.824) 18px 14px 25px, rgba(255, 132, 0, 0.12) 0px -12px 30px, rgba(255, 111, 0, 0.578) 0px 8px 16px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -8px 12px;
            }

            a.pages {
                color: $button-color;
            }
        }

        li.underline-pages {
            border-bottom: 2px solid $button-color;
        }

        button {
            @include button;
            cursor: pointer;
        }
        button:hover {
            @include buttonhover;
        }

        button.btn-white {
          @include btn;
        }
    }

    .toggle {
        display: none;
    }
}


// responsive on template

@media only screen and (min-width: 426px) and (max-width: 834px){ 
    nav {
        ul {
            column-gap: 20px;
            li {
                a {
                    font-size: 14px;
                }
            }

            button {
                padding: 8px 28px;
            }
        }
    }
}

@include navResponsive;
