@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button {
    background: $button-color;
    color: $white-color;
    padding: 10px 32px;
    border: none;
}


@mixin btn {
    background: none;
    border: solid 1px $white-color;
}

@mixin logo-partner {
    width: 100px;
    height: 100px;
    border: 50px;
}