@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button {
    background: $button-color;
    color: $white-color;
    padding: 10px 32px;
    border: none;
}
@mixin buttonhover {
    background: $button-color;
    color: $white-color;
    padding: 10px 32px;
    border: none;
    box-shadow: rgba(255, 145, 0, 0.596) 0px 14px 25px, rgba(255, 132, 0, 0.12) 0px -12px 30px, rgba(255, 111, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;

}

@mixin btn {
    background: none;
    border: solid 1px $white-color;
}

@mixin logo-partner {
    width: 100px;
    height: 100px;
    border: 50px;
}