// responsive on template devices 

// home page
@mixin responsive {
    @media only screen and (min-width: 426px) and (max-width: 834px){ 
        main {
            section {
                img {
                    height: 50vh;
                }

                .text {
                    margin-top: -40vh;
                }
            }

            aside { 
                width: 95%;
                margin: auto;
                .card-container {
                    margin-top: -80px;
                    column-gap: 50px;
                    .cards {
                        width: 45%;
                        img {
                            height: 240px;
                        }

                        .group-pf {
                            img {
                                width: 80px;
                                height: 80px;
                                border-radius: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// about pages

@mixin responsive-about {
    @media only screen and (min-width: 426px) and (max-width: 834px){ 
        .about-us {
            padding: 30px 0;
    
            .about-heading {
                h1 {
                    font-size: $font-size-h2;
                }
    
                h2 {
                    margin-top: -10px;
                    font-size: 18px;
                }
            }
    
            .about-content {
                p {
                    font-size: 14px;
                }
            }
        }
    
        .team-section {
            .team-cards {
                .team-card {
                    height: 32vh;
                    img {
                        width: 80px;
                        height: 80px;
                    }
                    p {
                        font-size: 14px;
                    }
    
                    .btn {
                        button {
                            padding: 5px;
                            width: 70px;
                        }
                    }
                }
            }
        }
    
        .partner-group {
            img {
                width: 80px;
                height: 80px;
            }
        }
    }
}


// contact pages

@mixin responsive-library { 
    @media only screen and (min-width: 426px) and (max-width: 834px){ 
        .search-button {
            margin-top: 15%;
            margin-left: 14%;
        }

        aside {
            padding: 10px;
            .nav_library {
                width: 90%;
                margin-left: 75px;
                li {
                    a {
                        font-size: $font-size-p;
                    }

                    .none {
                        display: none;
                    }
                }
            }
        }
        .video-container {
            width: 90%;
            margin-left: 60px;
            column-gap: 25px;
            .video {
                width: 320px;
                iframe {
                    width: 320px;
                }

                .pf {
                    column-gap: 10px;
                    img {
                        width: 30px;
                        height: 30px;
                    }

                    h3 {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@mixin responsive-contact { 
    @media only screen and (min-width: 426px) and (max-width: 834px){ 
        main {
            section {
                img {
                    height: 50vh;
                }
            }

            aside {
                .contact {
                    .line-contact {
                        margin-left: 22%;
                    }
                }
                .form {
                    .form_left {
                        button {
                            width: 97%;
                        }
                    }
                }
            }

            .map-container {
                margin-left: 5%;
                iframe {
                    width: 700px;
                    height: 400px;
                }
            }
        }
    }
}


// responsive on phone devices

@mixin responsive-homepage-smartphone { 
    @media only screen and (max-width: 425px) {
        main {
            margin-left: 40px;
            margin-top: 37%;
            section {
                display: none;
            }

            aside { 
                width: 100%;
                margin: auto;
                .card-container {
                    margin-top: -60px;
                    margin-left: -30px;
                    .cards {
                        width: 98%;
                        img {
                            height: 240px;
                        }

                        .group-pf {
                            img {
                                width: 60px;
                                height: 60px;
                                border-radius: 50px;
                            }

                            .group-p {
                                p {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

// Page Sign in
// Responsive Tablet @media (min-width: 426px)

@mixin sign-responsive-tablet {
    @media (max-width: 768px) and (min-width: 426px){
        main {
            flex-direction: column-reverse;
            justify-content: space-evenly;
            height: 200vh;
            .sign_in_page {
                border-radius: 22px;
                width: 72%;
                height: 68%;
                .group_form_sign {
                    width: 100%;
                    position: static;
                    height: 48%;
                    display: flex;
                    margin-bottom: 40px;
                    justify-content: space-between;
                    align-items: center;
                    color: $white-color;
                    flex-direction: column;
                    border-radius:20px;
                    box-shadow:rgba(250, 117, 0, 0.256) 0px 14px 28px,rgba(250, 117, 0, 0.256) 0px 10px 10px;
                    h1 {
                      font-size: $font-size-h2;
                      font-weight: 500;
                      margin-top: 30px;
                    }
                    .h_sign {
                      width: 100%;
                      height: 8%;
                      text-align: center;
                      text-shadow: rgba(255, 145, 0, 0.596) 0px 14px 25px, rgba(255, 132, 0, 0.12) 0px -12px 30px, rgba(255, 111, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
        
                    } 
                    form {
                      width: 82%;
                      height: 88%;
                      display: flex;
                      justify-content: space-evenly; 
                      flex-direction: column;
                      align-items: center;
                      .footer_form {
                        height: 18%;
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        .group_forgot {
                          display: flex;
                          justify-content: space-between;
                          align-items: center;
                          width: 80%;
                          height: 18%;
                          li {
                            list-style: none;
                            a{
                              text-decoration: none;
                              color: $white-color;
                              font-size: 14px;
                            }
                          }
                        }
                        button {
                          width: 60%;
                          height: 30px;
                          border: solid 2px rgba(255, 136, 0, 0.324);
                          transition: 1s;
                          color: $white-color;
                          border-radius: 8px;
                          margin-top: 20px;
                          background: none;
                        }
                        button:hover {
                          border: solid 2px rgba(255, 255, 255, 0.425);
                          box-shadow: rgba(255, 145, 0, 0.596) 0px 14px 25px, rgba(255, 132, 0, 0.12) 0px -12px 30px, rgba(255, 111, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
                          transition: 1s;
                          
                        }
                      }
                      .group_input {
                        width: 80%;
                        height: 58%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        .enter {
                          width: 100%;
                          height: 32%;
                          background-color: transparent;                  ;
                          
                          .input {
                            height: 60%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            span {
                              color: gray;
                            }
                            input {
                              background: transparent;
                              width: 88%;
                              outline: none;
                              border: none;
                              color: $white-color;
                            }
                          }
                        }
                }
        
        
            }
        }
                .bullet {
                    height: 4px;
                    width: 80%;
                }
                .group_continu {
                    width: 80%;
                    height: 48%;
                    .logo {
                        width: 66%;
                        height: 44%;
                    }
                    .group_continu_app {
                        a {
                            width: 84%;
                            height: 34%;
                            .continu {
                                width: 90%;
                                color: $white-color;
                                height: 90%;
                                box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px;
                                display: flex;
                                align-items: center;
                                justify-content: space-evenly;
                                img {
                                    width: 32px;
                                    height: 32px;
                                    border-radius: 50%;
                                }
                                h6 {
                                    width: 70%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Page Sign in free
// Responsive Tablet @media (min-width: 426px)

@mixin free-sign {
    @media (max-width: 768px) and (min-width:426px){
         main {
            height: 1024px;
            .sign {
                height: 84%;
                width: 90%;
                .group-form-sign {
                    width: 90%;
                    height: 90%;
                }
            }
         }
    }
}


@mixin responsive-about-page-smartphone {
    @media only screen and (max-width: 425px) {
        .about-cover {
            display: none;
        }

        .about-us {
            margin-top: -30px;
            .about-heading {
                h1 {
                    display: none;
                }
                h2 {
                    font-size: 14px;
                }
            }
            .about-content {
                margin-top: -10px;
                p {
                    font-size: 8px;
                }
            }
        }
        .mission-vision {
            margin-bottom: -10px;
            .card {
                h3 {
                    font-size: 14px;
                }

                p {
                    font-size: 8px;
                }
            }
        }
        .team-section {
            h2 {
                font-size: 16px;
            }
            .team-cards {
                margin-left: 36px;
                flex-direction: column;
                row-gap: 20px;
                .team-card {
                    width: 200px;
                    height: 36vh;
                    img {
                        width: 70px;
                        height: 70px;
                    }
                    p {
                        font-size: 12px;
                    }

                    .btn {
                        button {
                            font-size: 8px;
                            width: 70px;
                            padding: 6px;
                        }
                    }
                }
            }
        }

        h2 {
            font-size: 16px;
        }

        .partner-group {
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}

// responsive on smartphone devices __library page

@mixin responsive-library-page-smartphone {
    @media only screen and (max-width: 425px) {
        .search-button {
            margin-top: 20%;
            margin-left: 28px;
            .group-search {
                width: 200px;
                padding: 8px;
                input[type="text"] {
                    font-size: 8px;
                    width: 100%;
                }

                .icon {
                    width: 10px;
                    height: 10px;
                }
            }
            h3 {
                font-size: 10px;
            }

            button {
                font-size: 8px;
                padding: 8px 14px;
            }
        }
        aside {
            .nav_library {
                display: none;
            }
        }

        .video-container {
            margin-top: -20px;
            row-gap: 20px;
            .video {
                margin-left: -40px;
                iframe {
                    width: 390px;
                    height: 28vh;
                }
                .pf {
                    img {
                        width: 40px;
                        height: 40px;
                    }
                    h3 {
                        font-size: $font-size-p;
                    }
                }
            }
        }

        .group-text {
            h2 {
                font-size: 16px;
                font-weight: 300;
            }
            h3 {
                font-size: 12px;
                font-weight: 300;
            }

            button {
                padding: 8px;
            }
        }
    }
}


// responsive on smartphone devices __contact page

@mixin responsive-contact-page-smartphone {
    @media only screen and (max-width: 425px) {
        main {
            section {
                display: none;
            }

            aside {
                margin-top: 80px;
                .logo_form {
                    display: none;
                }

                .contact {
                    .line-contact {
                        margin-left: 4px;
                        width: 300px;
                        border: 1px solid rgba(128, 128, 128, 0.411);
                    }

                    .group-contact {
                        row-gap: 30px;
                        flex-wrap: wrap;
                        margin-left: -44px;
                    }
                }

                .form {
                    margin-top: 16%;
                    margin-bottom: 30px;
                    row-gap: 20px;
                    flex-direction: column;
                    .form_left {
                        width: 100%;
                    }
                    .form_middle {
                        column-gap: 10px;
                        flex-direction: row;
                        .line {
                            height: 0px;
                            width:150px;
                        }
                    }

                    .form_right {
                        width: 100%;
                        margin-left: -34px;
                    }
                }
            }

            .map-container {
                margin-left: 8%;
                h2 {
                    font-size: 16px;
                }
                h3 {
                    font-size: 12px;
                }
                iframe {
                    width: 330px;
                    height: 200px;
                }
            }   
        }
    }
}

// Page Sign in free
// Responsive smartPhone @media (min-width: 426px)

@mixin free-sign-phone {
    @media (max-width: 480px) and (min-width:320px) {
        main {
            height: 768px;
            width: 100%;
            .sign {
                width: 96%;
                height: 50%;
                .group_form_sign {
                    h1 {
                        font-size: $font-size-h4;
                    }
                    form {
                        font-size: $font-size-h5;
                    }
                }
            }
        }
    }
}
// Page Sign in 
// Responsive smartPhone @media (max-width: 426px)

@mixin sign-phone-responsive {
    @media (max-width: 480px){
        
        main {
            flex-direction: column-reverse;
            justify-content: space-evenly;
            height: 932px;
            width: 100%;
            .sign_in_page {
                width: 90%;
                height: 68%;
                .group_form_sign {
                    width: 100%;
                    height: 48%;
                    h1 {
                      font-size:14px;
                      font-weight: 300;
                      margin-top: 30px;
                    }
                    .h_sign {
                      width: 100%;
                      height: 8%;        
                    } 
                    form {
                      width: 82%;
                      height: 88%;
                      .footer_form {
                        height: 18%;
                        width: 80%;
                        .group_forgot {
                          width: 80%;
                          height: 18%;
                          li {
                            a{
                              font-size: 8px;
                            }
                          }
                        }
                        button {
                          width: 60%;
                          height: 30px;
                        }
                      }
                      .group_input {
                        width: 80%;
                        height: 58%;
                        
                        .enter {
                          width: 100%;
                          height: 32%;              
                          label {
                            font-size: 12px;
                          }
                          .input {
                            height: 60%;
                            span {
                              color: gray;
                            }
                            input {
                              width: 88%;
                            }
                          }
                        }
                }
        
        
            }
        }
                .bullet {
                    height: 4px;
                    width: 80%;
                }
                .group_continu {
                    width: 80%;
                    height: 48%;
                    .logo {
                        width: 66%;
                        height: 44%;
                    }
                    .group_continu_app {
                        a {
                            width: 84%;
                            height: 30%;
                            .continu {
                                width: 90%;
                                color: $white-color;
                                height: 90%;
                                box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px;
                                display: flex;
                                align-items: center;
                                justify-content: space-evenly;
                                img {
                                    width: 22px;
                                    height: 22px;
                                    border-radius: 50%;
                                }
                                h6 {
                                    width: 70%;
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
}